.form {
  --error-color: #f00;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.form__field-group .form__field {
  flex-grow: 1;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form input, .form textarea {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.form__error {
  color: var(--error-color);
  margin: 0.125rem 0;
}

.form__error[for="title"] {
  grid-column: 1;
  grid-row: 2;
}

.form__error[for="goal"] {
  grid-column: 2;
  grid-row: 2;
}

.form__steps,
.form__success-criteria,
.form__contributions {
  grid-column: 1 / -1;
  height: 10rem;
  padding: 0.25rem;
}

.form__repeatable {
  display: flex;;
  gap: var(--spacing-sm);
}

.form__repeatable input[type=checkbox] {
  transform: scale(1.5);
}

.form__buttons {
  grid-column: 1 / -1;
  justify-self: end;
  display: flex;
  column-gap: 0.5rem;
}

.form__button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
}

.form__root-error {
  grid-column: 1 / -1;
  color: var(--error-color);
}
